// Layout
$spacing: 8px !default;


// Colors
$color-energy-label-a: rgb(0, 152, 104) !default;
$color-energy-label-b: rgb(0, 152, 104) !default;
$color-energy-label-c: rgb(156, 202, 60) !default;
$color-energy-label-d: rgb(238, 213, 66) !default;
$color-energy-label-e: rgb(254, 203, 51) !default;
$color-energy-label-f: rgb(254, 104, 48) !default;
$color-energy-label-g: rgb(255, 53, 51) !default;
